{% extends 'stocks/base.html' %}

{% block content %}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-left">
			 	{{ symbol_info.name }}
			</h1>
			<table class="table">
				<thead>
					<tr>
						<th>
							Ticker
						</th>
						<th>
							Instrument
						</th>
						<th>
							Sector
						</th>
						<th>
							Currency
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ symbol_info.ticker }}</td>
						<td>{{ symbol_info.instrument }}</td>
						<td>{{ symbol_info.sector }}</td>
						<td>{{ symbol_info.currency }}</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-6">
					<h3>
						41.74
					</h3>
					<h4>
						-0.42 (-1,42%)
					</h4>
					<p>March 1, 2020, 10:57 a.m.</p>
				</div>
				<div class="col-md-6">
					 
					<button type="button" class="btn btn-success btn-normal">
						Buy
					</button> 
					<button type="button" class="btn btn-normal btn-danger">
						Sell
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<form  action="{% url 'stocks:detail' symbol_info.id %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="date_from">From</label>
							<input type="date" class="form-control" name="date_from">
						</div>
						<div class="form-group">
							<label for="date_to">To</label>
							<input type="date" class="form-control" name="date_to">
						</div>
						
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</form>
				</div>
				<div class="col-md-6">
					<img id="plot" src="https://miro.medium.com/max/1526/1*_CRdtGZ-qQ1flJkDz2kLiQ.png">
				</div>
			</div>

			{% if data %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							Date
						</th>
						<th>
							Open
						</th>
						<th>
							Close
						</th>
						<th>
							High
						</th>
						<th>
							Low
						</th>
						<th>
							Adjacent
						</th>
						<th>
							Volume
						</th>
					</tr>
				</thead>
				<tbody>
					{% for d in data%}
					<tr>
						<td>{{ d.date_price | date}}</td>
						<td>{{ d.open_price | floatformat:3 }}</td>
						<td>{{ d.close_price | floatformat:3 }}</td>
						<td>{{ d.high_price | floatformat:3 }}</td>
						<td>{{ d.low_price | floatformat:3 }}</td>
						<td>{{ d.adj_close_price | floatformat:3 }}</td>
						<td>{{ d.volume }}</td>
					</tr>
					{% endfor %}					
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}