	<table border="1">
		<tr>
			<th>Ticker</th>
			<th>Instrument</th>
			<th>Name</th>
			<th>Sector</th>
			<th>Currency</th>
			<th>Last update</th>
		</tr>

		<tr>
			<td>{{ symbol_info.ticker }}</td>
			<td>{{ symbol_info.instrument }}</td>
			<td>{{ symbol_info.name }}</td>
			<td>{{ symbol_info.sector }}</td>
			<td>{{ symbol_info.currency }}</td>
			<td>{{ symbol_info.last_updated_date }}</td>
		</tr>		
	</table>	

	<br>
	<form action="{% url 'stocks:detail' symbol_info.id %}" method="post">
		{% csrf_token %}
		<label for="date_from">From</label>
		<input type="date" name="date_from">
		<label for="date_to">To</label>
		<input type="date" name="date_to">
		<input type="submit" value="Submit">
	</form>

	<br>
{% if data %}
	<table border="1">
		<tr>
			<th>Date</th>
			<th>Open</th>
			<th>Close</th>
			<th>High</th>
			<th>Low</th>
			<th>Adjacent</th>
			<th>Volume</th>
		</tr>
		{% for d in data%}
		<tr>
			<td>{{ d.date_price | date}}</td>
			<td>{{ d.open_price | floatformat:3 }}</td>
			<td>{{ d.close_price | floatformat:3 }}</td>
			<td>{{ d.high_price | floatformat:3 }}</td>
			<td>{{ d.low_price | floatformat:3 }}</td>
			<td>{{ d.adj_close_price | floatformat:3 }}</td>
			<td>{{ d.volume }}</td>
		</tr>
		{% endfor %}

		<tr>
			<th>Mean</th>
			<td>{{ aggr.open_price_mean | floatformat:3}}</td>
			<td>{{ aggr.close_price_mean | floatformat:3}}</td>
			<td>{{ aggr.high_price_mean | floatformat:3}}</td>
			<td>{{ aggr.low_price_mean | floatformat:3}}</td>
			<td>{{ aggr.adj_close_price_mean | floatformat:3}}</td> 
			<td>{{ aggr.volume_mean | floatformat:0}}</td> 
		</tr>
	</table>
{% else %}
	<p>No data found</p>
{% endif%}