{% if symbols_list %}
	<ul>
		{% for symbol in symbols_list %}
			<!-- <li><a href='/stocks/{{ symbol.id }}/detail'>{{ symbol.name }}</a></li> -->
			<li><a href="{% url 'stocks:detail' symbol.id %}">{{ symbol.name }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No symbols found</p>
{% endif %}